.navbar-right {
    display: flex;
    align-items: center;
    color: white;
}

.navbar {
    margin-bottom: 0;
}

div .card {
    margin-top: 60px;
    border: solid 1px;
    padding: 33px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

div.row.justify-content-center {
    display: flex;
    justify-content: center;

}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
